################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AuthLibrary/bin
/AuthLibrary/obj
/WebAPIExample/.vs/WebAPIExample
/WebAPIExample/bin/Debug/net9.0
/WebAPIExample/obj
/DataAccess/bin
/DataAccess/obj
/WebAPIExample/.vs/ProjectEvaluation
